<style>
  @import url('https://fonts.googleapis.com/css?family=Raleway:200');
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    display: flex;
    margin: 80px auto;
    padding: 0 1px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    color: rgb(255, 255, 255, 0.75);
    transition: 0.2s linear;
    font-family: "Raleway";
  }
  h1:hover{
    color: rgb(255, 255, 255, 1);
  }
  h2 {
    display: flex;
    margin: 0px auto 5px;
    padding: 0 1px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-family: "Raleway";
  }
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  ul{
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #363636;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
    opacity: 0.8;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    transition: opacity 0.2s linear;
    filter: invert(53%) sepia(35%) saturate(1222%) hue-rotate(163deg) brightness(105%) contrast(99%) drop-shadow( 0px 0px 3px rgb(0, 204, 255));
    
  }

  @keyframes twitter-shadow {
    from {
      filter: invert(95%) sepia(0%) saturate(1684%) hue-rotate(320deg) brightness(113%) contrast(60%);
    }
    to {   
      filter: invert(53%) sepia(35%) saturate(1222%) hue-rotate(163deg) brightness(105%) contrast(99%);
    }
  }

  .toolbarHeader{
    padding: 0.5%; 
    color:#cccccc;
    transition: text-shadow 0.2s linear;
  }

  .toolbarHeader:hover {
    text-shadow:
      0 0 2px #fff,
      0 0 4px #f5c904,
      0 0 6px #f5a804,
      0 0 8px #f59504;
    color: #ffffff;
    
  }

  @keyframes pulse{
    0%{
      text-shadow:
      0 0 8px #fff,
      0 0 12px #f5c904,
      0 0 46px #f5a804,
      0 0 20px #f59504;
    }
    100%{
      text-shadow:
      0 0 2px #fff,
      0 0 4px #f5c904,
      0 0 6px #f5a804,
      0 0 8px #f59504;
    }
  }
  .homeEnglishName{
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    border: 2px solid #ffffff;
    animation: typeEnglish 10s steps(25,end) infinite;
  }

  .homeChineseName{
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    border: 2px solid #ffffff;
    animation: typeChinese 10s steps(3,end) infinite;
  }

  .homeKoreanName{
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    border: 2px solid #ffffff;
    animation: typeKorean 10s steps(4,end) infinite;
  }
  .blinkPointer{
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    border: 2px solid #ffffff;
    animation: blinkPointer 0.75s infinite normal;
  }

  @keyframes typeEnglish {
  0%, 35%, 100% {
    width: 0;
  }
  10%, 30% {
    width: 7.3em;
  }
  }

  @keyframes typeChinese {
  0%, 35%, 65%, 100% {
    width: 0;
  }
  40%, 60% {
    width: 3em;
  }
  }

  @keyframes typeKorean {
  0%, 65%, 100% {
    width: 0;
  }
  70%, 90% {
    width: 4em;
  }
  }

  @keyframes blinkPointer{
    from{border-right-color: rgba(0, 0, 0, 0.75);}
    to{border-right-color: transparent;}
  }

  .mainLogo{
    color:#cccccc;
    font-size:160%;
    filter: invert(100%) sepia(0%) saturate(1196%) hue-rotate(341deg) brightness(106%) contrast(60%); 
  }
  .mainLogo:hover{
    filter: invert(63%) sepia(43%) saturate(3462%) hue-rotate(4deg) brightness(110%) contrast(103%) drop-shadow( 0px 0px 5px rgb(255, 187, 0));
    font-size:160%;
    
  }

  @keyframes svg-shadow {
    from {
      filter: invert(100%) sepia(0%) saturate(1196%) hue-rotate(341deg) brightness(106%) contrast(60%);
    }
    to {   
      filter: invert(63%) sepia(43%) saturate(3462%) hue-rotate(4deg) brightness(110%) contrast(103%) drop-shadow( 0px 0px 5px rgb(255, 187, 0));
    }
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 500px;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255, 0.75); 
    border:1px solid rgb(0, 204, 255);
    border-radius: 20px;
    transition: 0.2s linear;
  }
  .content:hover{
    color: rgb(255, 255, 255, 1);
  }

  .blocks{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
 }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }

  .resume-links:link{
    text-decoration-line: underline;
  }
  .resume-download:link{

    font-weight: bold;
  }

  .content-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    max-width: 750px;
    border-radius: 12px;
    padding: 10px 0px 10px 0px;
    transition: 0.2s linear;
    flex-shrink: 0;
    max-width: fit-content;
    padding: 10px 10px;
    background-color: rgb(0, 204, 255, 0.05);
  }
  .content-container:hover{
    background-color: rgb(0, 204, 255, 0.1);
  }
  .education {
    display: flex;
    padding: 0 8px;
    max-width: 400px;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255, 0.75); 
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    transition: 0.2s linear;
  }
  .education:hover{
    color: rgb(255, 255, 255, 1);
  }
  .research {
    display: flex;
    padding: 0 8px;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255, 0.75); 
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    transition: 0.2s linear;
  }
  .research:hover{
    color: rgb(255, 255, 255, 1);
  }
  
  canvas{
      position:absolute;
      left:0;
      top:0;
      z-index:-1;
      background-color: rgba(0, 0, 0, 1);
      width: 100%;
      height: 100%;
  }
  .ut{
    display: flex;
    padding: 0 8px;
    max-width: 400px;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255, 0.75); 
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    transition: 0.2s linear;
  }
  .ut:hover{
    color: rgb(191, 87, 0, 1);
  }
  .fieldset-single{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 750px;
    margin: 100px auto 100px;
    padding: 0px 0px 0px 0px;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-color: rgb(0, 204, 255, 0.5);
  }
  legend{
    color: rgb(255, 255, 255, 0.75);
    font-size: 30px;
    transition: 0.2s linear;
    padding: 10px;
    font-family: "Poppins";
  }
  legend:hover{
    color: rgb(255, 255, 255, 1);
  }
  .pdf {
    display: flex;
    margin: 82px auto 32px;
    padding: 12px 12px;
    max-width: fit-content;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255, 0.75); 
    border:2px solid rgb(0, 204, 255);
    border-radius: 10px;
    transition: 0.2s linear;
    font-family: "Poppins";
    background-color: rgb(0, 204, 255, 0.05);
  }
  .pdf:hover{
    color: rgb(255, 255, 255, 1);
    background-color: rgb(0, 204, 255, 0.25);
  }
  .content-single {
    display: flex;
    padding: 0 8px;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255, 0.75); 
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    transition: 0.2s linear;
  }
  .content-single:hover{
    color: rgb(255, 255, 255, 1);
  }
  .individual-glow {
    display: flex;
    padding: 0 8px;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255, 0.75); 
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    transition: 0.2s linear;
  }
  .content-space{
    margin: 20px 0px 0px 0px;
  }

  .glow{
    color: rgb(255, 255, 255, 0.75);
    transition: 0.2s linear;
  }

  .glow:hover{
    color: rgb(255, 255, 255, 1);
  }
  


  .grid {
  list-style: none;
  margin-left: -40px;
}

.gc {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -0.25em;
  min-height: 1px;
  padding-left: 40px;
  vertical-align: top;
}

.gc--1-of-3 {
  width: 33.33333%;
}

.gc--2-of-3 {
  width: 66.66666%;
}

.naccs {
  position: relative;
  max-width: 900px;
  margin: 100px auto 0;
}

.naccs .menu div {
  padding: 15px 20px 15px 40px;
  margin-bottom: 10px;
  color: #303F9F;
  background: #3F51B5;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  font-weight: 700;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.naccs .menu div:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.naccs .menu div span.light {
  height: 10px;
  width: 10px;
  position: absolute;
  top: 24px;
  left: 15px;
  background-color: #303F9F;
  border-radius: 100%;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.naccs .menu div.active span.light {
  background-color: #FBC02D;
  left: 0;
  height: 100%;
  width: 3px;
  top: 0;
  border-radius: 0;
}

.naccs .menu div.active {
  color: #FBC02D;
  padding: 15px 20px 15px 20px;
}

ul.nacc {
  position: relative;
  height: 0px;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li {
  opacity: 0;
  transform: translateX(50px);
  position: absolute;
  list-style: none;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li.active {
  transition-delay: 0.3s;
  z-index: 2;
  opacity: 1;
  transform: translateX(0px);
}

ul.nacc li p {
  margin: 0;
}
.mat-tab-label{ 
  background-color: yellow !important;
 }


</style>

<!--div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/devtools/">
        <span>Angular DevTools</span>
      </a>
</div-->
<!--canvas id="space">Canvas not supported.</canvas-->
<div role="main">
  <h1>Résumé</h1>
</div>

<fieldset class="fieldset-single">
  <legend>Education</legend>
  <div class="content-container" role="main">
    <div class="ut">
      <h2>UT Austin</h2>
      <p>
        The University of Texas at Austin, Austin, TX
      </p>
      <p>
        August 2018 - May 2022 &nbsp;&nbsp;&nbsp;&nbsp; GPA: 3.8
      </p>
      <p>
        Bachelor of Science in Computer Science 
      </p>
      <p>
        Certificate in Scientific Computation and Data Sciences
      </p>
    </div>
    <div class="education">
      <h2>Honors and Awards</h2>
      <ul>
        <li>
          National Merit Finalist
        </li>
        <li>
          University Honors
        </li>
        <li>
          Texas All Region Orchestra (2015-2018)
        </li>
        <li>
          AP Scholar with Distinction
        </li>
      </ul>
    </div>
  </div>
</fieldset>
<fieldset class="fieldset-single">
  <legend>Work Experience</legend>
  <div class="content-container" role="main">
    <div class="content-single">
      <h2>Ethos Group</h2>
      <ul>
        <li>
          Irving, Texas
        </li>
        <p>Summer 2021</p>
        <i>Software Engineer Intern</i>
        <ul>
          <li>
            Create and integrate a full stack ASP.NET Core application into Ethos Group's overall ecosystem that ecompasses Pricing, Menu, and eContracting which supports the F&I Office and contract execution (vehicle purchase, financing, product, etc.)
          </li>
          <li>
            Calculate a customer's potential auto insurance savings by initiating a customer session using our application's API, then calling DealerPolicy's API through either a QR code or generated email, and upon completion of receiving savings, updating Ethos Group's Menu session, audit logs, as well as internal databases storing the customer's information, and at the end generating PDFs in the backend to present and finalize the deal with the customer with the included savings.
          </li>
          <li>
            Utilize Agile principles and clean architecture in a team to develop the DealerPolicy application in weekly sprints, with the development process including boards, sprints, repos, and deployment done within Microsoft's Azure DevOps.
          </li>
          <li>
            Technologies used: Typescript, C#, Angular, HTML, CSS, Node.js, Bootstrap, Azure DevOps, Git, SQL, StencilJS, NgRx, SQL Server Management Studio, Syncfusion PDF Library, SendGrid, Microsoft Remote Desktop, Microsoft Teams, npm.
          </li>
        </ul>
        <h2 class="content-space">Self Employed Private Tutor</h2>
        <li>
          Dallas, Texas
        </li>
        <p>May 2019 - February 2021</p>
        <i>High School Math, SAT/PSAT, Violin, Piano Tutor</i>
      </ul>
    </div>
  </div>
</fieldset>
<fieldset class="fieldset-single">
  <legend>Research</legend>
  <div class="content-container" role="main">
    <div class="research">
    <ul>
      <li>
        Text Simplification of College Admissions Instructions:
  A Professionally Simplified and Verified Corpus, Spring 2022 (COLING 2022, to appear)
      </li>
      <ul>
        <li>Maximus Chu, Zachary W. Taylor and Junyi Jessy Li</li>
        <li>
          Presents the first corpus of college application texts for the evaluation and fine-tuning of text simplification systems.
        </li>
      </ul>
      <li>
        <a href="https://github.com/maximuschu/text-simplification-college-admission" class="resume-links">Implementation of Text Simplification Models in the Domain of College Admissions, Spring 2022</a>
      </li>
      <ul>
        <li>
          Researched the application of text simplification in college applications, a domain which is traditionally done by manually.
        </li>
      </ul>
      <li>
        <a href="https://drive.google.com/file/d/161RZO8NSWm6Z3QZqckGMtmBBkNjbl6oQ/view?usp=sharing" class="resume-links">Improving Question Answering Models, Fall 2021</a> 
      </li>
      <ul>
        <li>
          Researched the use of adversarial challenge sets on question answering models, applied to help address and mitigate model shortcomings and help shape models to become more resilient and less prone to fallacies.
        </li>
      </ul>
    </ul>
    </div>
  </div>
</fieldset>
<fieldset class="fieldset-single">
  <legend>Projects and Activities</legend>
<div class="content-container">
<div class="individual-glow" role="main">
  <ul>
    <li class="glow">
      <a href="https://gitlab.com/Danny-Trinh/travelwise" class="resume-links">Travelwise (Fall 2020)</a>
      <ul>
        <li>
          Full-stack development, with collaboration between five developers to build a web application that reports COVID-19 statistics, flight data, as well as location data all essential for making travel plans.
        </li>
        <li>
          Technologies used: Typescript, Python, HTML, CSS, React.js, Node.js, Django, Bootstrap, AWS Amplify, Gitlab CI/CD, Docker, Postman, Selenium, Jest, Framer Motion, Yarn, Slack.
        </li>
      </ul>
    </li>
    <li class="glow">
      <a href="https://www.youtube.com/watch?v=6oGvd5_0bFQ&feature=youtu.be" class="resume-links">The Eldritch Knight (Fall 2020)</a>
      <ul>
        <li>
          Created a fantasy first person shooter game using C++ and Unreal Engine, with AI enemies and procedurally generated maps.
        </li>
      </ul>
    </li>
    <li class="glow">
      <a href="https://github.com/maximuschu/infectious-disease-simulation" class="resume-links">Infectious Disease Simulation Model (Spinrg/Summer 2020)</a>
      <ul>
        <li>
          Application with parallelization of the realistic simulation of the spread of infectious diseases, based on the SIR model.
        </li>
        <li>
          Technologies used: C++, OpenMP, MPI
        </li>
      </ul>
    </li>
    <li class="glow">
      <a href="https://www.mitenergyhack.org/s/ThreePlusTwo.pptx" class="resume-links">MIT EnergyHack (Fall 2019)</a>
      <ul>
        <li>
          Present solution at the MIT EnergyHack hackathon issued by Saint Gobain, concerning the transformation of the manufacturing of lithium ion batteries to enable a full circularity of the process.
        </li>
      </ul>
    </li>
    <li class="glow">
      <a href="https://web.stanford.edu/class/cs140/projects/pintos/pintos_1.html" class="resume-links">PintOS (Fall 2019)</a>
      <ul>
        <li>
          Expanded PintOS to include a thread system, priority scheduling, argument passing on the stack, system calls for user programs, added virtual memory, and converted the existing single-thread file system into a multi-level indexed file system.
        </li>
      </ul>
    </li>
    <li class="glow">
      <a href="https://github.com/maximuschu/memory-allocation-library" class="resume-links">Memory Allocation Library (Spring 2019)</a>
      <ul>
        <li>
          Memory allocation library created through a C implementation, utilizing various adjustable policies.
        </li>
      </ul>
    </li>
    <li class="glow">
      <a href="https://github.com/maximuschu/huffman" class="resume-links">Huffman Coding (Fall 2018)</a>
      <ul>
        <li>
          A compressor/decompressor created through a Java implementation utilizing the Huffman Compression Algorithm.
        </li>
      </ul>
    </li>
  </ul>
</div>
</div>
</fieldset>
<fieldset class="fieldset-single">
  <legend>Technical Skills</legend>
<div class="content-container" role="main">
  <div class="content-single">
  <ul>
    <li>
      <b>Programming Languages:</b> C, C++, Python, Java, C#, Javascript, Typescript, SQL, HTML, CSS, Fortran, Assembly (x86 and Y86).
    </li>
    <li>
      <b>Frameworks/Tools:</b> Angular, React.js, MATLAB, OpenMP, MPI, Node.js.
    </li>
    <li>
      <b>Machine Learning Frameworks/Tools:</b> Tensorflow, PyTorch, scikit-learn, Hugging Face, Google Colab, Jupyter Notebook.
    </li>
    <li>
      <b>Other:</b> Experienced with Linux, Docker, Git, unit test frameworks (Selenium and Jest), cloud services (AWS Amplify).
    </li>
    <li>
      <b>Languages/Abilities:</b> Native in English and Chinese, intermediate in Korean, beginner in French and Latin, piano (15 years), violin (11 years).
    </li>
    <li>
      <b>Work Eligibility:</b> U.S. Citizen - Eligible to work in the U.S. with no restrictions.
    </li>
  </ul>
</div>
</div>
</fieldset>

<fieldset class="fieldset-single">
  <legend>Coursework</legend>
<div class="content-container" role="main">
  <div class="individual-glow">
  <ul>
    <li>
      <a href="https://www.cs.utexas.edu/~gdurrett/courses/fa2021/cs378.shtml" class="resume-links glow">Natural Language Processing, Fall 2021</a>
    </li>
    <li>
      <a href="https://www.cs.utexas.edu/~beasley/syllabus/Fall%202021%20Data%20Mining.pdf" class="resume-links glow">Data Mining, Fall 2021</a>
    </li>
    <li>
      <a href="https://www.cs.utexas.edu/~huangqx/CS376_Computer_Vision.html" class="resume-links glow">Computer Vision, Fall 2021</a>
    </li>
    <li>
      <a href="https://rpl.cs.utexas.edu/cs343_spring2021/index.html" class="resume-links glow">Artificial Intelligence, Spring 2021</a>
    </li>
    <li>
      <a href="https://www.cs.utexas.edu/courses/378-behavioral-ethics" class="resume-links glow">Behavioral Ethics in the Digital Age, Spring 2021</a>
    </li>
    <li>
      <a href="https://www.cs.utexas.edu/users/downing/cs371p/" class="resume-links glow">Object Oriented Programming, Fall 2020</a>
    </li>
    <li>
      <a href="https://www.cs.utexas.edu/users/downing/cs373/" class="resume-links glow">Software Engineering, Fall 2020</a>
    </li>
    <li>
      <a href="https://www.cs.utexas.edu/users/theshark/courses/cs378/" class="resume-links glow">Game Programming Paradigms, Fall 2020</a>
    </li>
    <li>
      <a href="https://www.cs.utexas.edu/~ecprice/courses/331/sp20/" class="resume-links glow">Algorithms and Complexity, Spring 2020</a>
    </li>
    <li>
      <a href="https://stat.utexas.edu/academics/undergraduate-course-inventory#SDS374C" class="resume-links glow">Parallel Computing, Spring 2020</a>
    </li>
    <li>
      <a href="https://utdirect.utexas.edu/apps/student/coursedocs/courses/nlogon/download/10287887/" class="resume-links glow">Scientific Computation in Numerical Analysis, Spring 2020</a>
    </li>
    <li>
      <a href="https://www.cs.utexas.edu/~ans/classes/cs439/index.html" class="resume-links glow">Principles of Computer Systems, Fall 2019</a>
    </li>
    <li>
      <a href="https://web.ma.utexas.edu/users/jwchong/math340L_fall19.html" class="resume-links glow">Matrices and Matrix Calculations, Fall 2019</a>
    </li>
    <li>
      <a href="https://stat.utexas.edu/academics/undergraduate-course-inventory#SDS322" class="resume-links glow">Scientific Programming, Fall 2019</a>
    </li>
    <li>
      <a href="https://www.cs.utexas.edu/~byoung/cs429/syllabus429.html" class="resume-links glow">Computer Organization and Architecture, Spring 2019</a>
    </li>
    <li>
      <a href="https://stat.utexas.edu/academics/undergraduate-course-inventory#SDS321" class="resume-links glow">Introduction to Probability and Statistics, Spring 2019</a>
    </li>
    <li>
      <a href="https://utdirect.utexas.edu/apps/student/coursedocs/courses/nlogon/download/9464368/" class="resume-links glow">Differential Equations with Linear Algebra, Spring 2019</a>
    </li>
    <li>
      <a href="https://www.cs.utexas.edu/~scottm/cs314/" class="resume-links glow">Data Structures, Fall 2018</a>
    </li>
    <li>
      <a href="https://utdirect.utexas.edu/apps/student/coursedocs/courses/nlogon/download/8879362/" class="resume-links glow">Discrete Mathematics, Fall 2018</a>
    </li>
    <li>
      <a href="https://utdirect.utexas.edu/apps/student/coursedocs/courses/nlogon/download/8866997/" class="resume-links glow">Sequences, Series, and Multivariable Calculus, Fall 2018</a>
    </li>
  </ul>
</div>
</div>
</fieldset>
<!--div class="content" role="main">
  <h2>Honors and Awards</h2>
  <ul>
    <li>
      National Merit Finalist
    </li>
    <li>
      University Honors
    </li>
    <li>
      Texas All Region Orchestra (2015-2018)
    </li>
    <li>
      AP Scholar with Distinction
    </li>
  </ul>
</div-->
<!--div>

  <div class="naccs">
    <div class="grid">
     <div class="gc gc--1-of-3">
      <div class="menu" (click)="onSave()">
       <div class="active"><span class="light"></span><span>Beer</span></div>
       <div><span class="light"></span><span>Wine</span></div>
       <div><span class="light"></span><span>Lemonade</span></div>
      </div>
     </div>
     <div class="gc gc--2-of-3">
      <ul class="nacc">
       <li class="active">
        <div>
         <p>HERE</p>
        </div>
       </li>
       <li>
        <div>
         <p>TEST</p>
        </div>
       </li>
       <li>
        <div>
         <p>HELLO</p>
        </div>
       </li>
      </ul>
     </div>
    </div>
   </div>

</div-->
<!--div class="content" role="main">
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="First"><p>Content 1</p></mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
  <mat-tab label="Fourth"> Content 3 </mat-tab>
  <mat-tab label="Fifth"> Content 3 </mat-tab>
  <mat-tab label="Sixth"> Content 3 </mat-tab>
</mat-tab-group>
</div-->
<a href="assets/documents/Resume.pdf" class="resume-download pdf" role="main">
  PDF Version
</a>